/* 
    header
    --------------------------------------------*/
#header {
    margin: 0 auto;
    overflow: visible;
    padding: 0 0 2px;
    width: auto !important;
    position: relative;
}

#header>.inner {
    margin: 0 auto;
    overflow: visible;
    padding: 1.25rem 2.5rem 4px 2.5rem;
    max-width: 1260px;
    position: relative;
    width: auto !important;
    z-index: 11;
    height: 4rem;
}

#header>.inner.open {
    background: #fff;
}

#logo {
    margin: 8px 0 0 0 !important;
    padding: 0;
}

#logo a span {
    display: none;
}

#logo,
#logo a {
    display: inline-block;
    font-size: 0;
    height: 48px;
    width: 16.3rem;
    height: 30px !important;
    margin: 0;
    vertical-align: top;
}

#logo a {
    padding: 0 .5rem 0 0;
}

#logo a * {
    fill: #c62a14;
}

#logo a:hover * {
    fill: #D76A00 !important;
}

.pipe {
    display: none;
}

.writings {
    display: none;
}

.hamburger {
    border: 0;
    background: transparent;
    color: #c62a14;
    display: none;
    font-family: monospace;
    position: relative;
    font-size: 32px;
    line-height: 1;
    margin: 0 0 0 -3px;
    vertical-align: top;
}

#nav {
    font-family: Georgia, 'Times New Roman', serif;
    display: inline-block;
    float: right;
    margin: 0;
}

#nav ul {
    list-style-type: none;
    display: inline-block;
    margin: 20px 0 0;
    padding: 0;
    line-height: 1;
}

#nav ul li {
    display: inline-block;
    vertical-align: middle;
}

#nav ul li a {
    color: #959595;
    font-size: 12px;
    margin: 0 8px 0 8px;
    letter-spacing: .04rem;
}

#nav ul li a:hover {
    color: #534741;
}

#nav ul li .twitter:before,
#nav ul li .facebook:before,
#nav ul li .linkedin:before,
#nav ul li .soundcloud:before,
#nav ul li .twitch:before {
    background: url('/common/templates/www.stephenwolfram.com/images/social-sprite.png') no-repeat;
    background-size: 101px 41px;
    content: '';
    display: inline-block;
    height: 20px;
    width: 20px;
}

#nav ul li .twitter,
#nav ul li .facebook,
#nav ul li .linkedin,
#nav ul li .soundcloud,
#nav ul li .twitch { margin: 0 1px; }

#nav ul li .twitter:before { background-position: 0 0; }

#nav ul li .twitter:hover:before { background-position: 0 -20px; }

#nav ul li .facebook:before { background-position: -20px 0; }

#nav ul li .facebook:hover:before { background-position: -20px -20px; }

#nav ul li .linkedin:before { background-position: -40px 0; }

#nav ul li .linkedin:hover:before { background-position: -40px -20px; }

#nav ul li .soundcloud:before { background-position: -60px 0; }

#nav ul li .soundcloud:hover:before { background-position: -60px -20px; }

#nav ul li .twitch:before { background-position: -80px 0; }

#nav ul li .twitch:hover:before { background-position: -80px -20px; }

#nav ul li .social a {
    margin: 0;
}

#nav>ul {
    margin: 7px 0 4px;
}

#nav li ul {
    margin: 0;
}

#nav li.contact {
    margin-right: .5rem;
}

#nav li.contact:before {
    display: none !important;
}

ul.social {
    margin: 2px 0 0 7px !important;
}

.stripe {
    border-top: 3px solid #fdbf3d;
    background: #feeac1;
    height: 36px;
    top: 3.95rem;
    left: 0;
    right: 0;
    position: absolute;
}

/* ========================================================================== 
    footer styles
    ========================================================================== */
#footer {
    font-size: 0.75rem;
    line-height: 1.6;
    padding: 30px 0 30px;
}
#footer a {
    white-space: nowrap;
}
#footer svg {
    display: inline-block;
    height: 0.75rem;
    width: auto;
    margin-bottom: 0.23rem;
    vertical-align: bottom;
}
#footer span.footer-sep {
    opacity: 0.5;
    padding: 0 0.2rem;
}



/* ========================================================================== 
    responsive breakpoint styles 
    ========================================================================== */
@media (max-width: 1200px) {
    #logo {
        width: 15rem;
    }

    #logo a {
        width: 14.5rem;
        padding: 0 .1rem 0 0;
    }

    .stripe {
        top: 3.9rem;
    }
}

@media (max-width: 1094px) {
    #header>.inner {
        height: 3.375rem;
        padding: .8rem 2rem 4px 2rem;
    }

    .stripe {
        top: 3.35rem;
    }

    #nav {
        height: 0;
    }

    #nav ul li a {
        margin: 0 5px;
    }

    html {
        font-size: 15px;
    }

    #logo {
        float: none !important;
        margin: 8px 0 0 6px !important;
    }

    .hamburger {
        display: inline-block;
        margin: 0 0 0 -1rem;
    }

    #nav ul {
        line-height: 1;
        margin: 0 !important;
        padding: 0;
    }

    #nav .links {
        background: #fff;
        height: 0;
        left: 0;
        overflow: hidden;
        right: 0;
        position: absolute;
        top: 51px;
        transition: height .5s ease;
        z-index: 11;
        margin: 0 !important;
    }

    #nav .links.show {
        height: 18rem;
        transition: height .5s ease;
    }

    #nav .links li {
        display: block;
    }

    #nav .links a {
        display: block;
        padding: 1rem;
    }

    #nav .social {
        margin: 0 !important;
        position: relative;
        top: 5px;
    }

    #header .overlay {
        background: rgba(0, 0, 0, .3);
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
    }
}

@media (max-width: 900px) {
    #header>.inner {
        padding: .8rem 2.5rem 4px 2rem;
    }
}

@media (max-width: 600px) {
    .hamburger {
        margin: 0 0 0 -.5rem;
        left: 2px;
    }

    #header>.inner {
        padding: .8rem 1rem 4px 1rem;
    }

    #footer .inner span:first-of-type::after {
        content: '\A';
        white-space: pre;
    }
}

@media (max-width: 560px) {
    #logo {
        width: 14.5rem;
    }

    #logo a {
        width: 14rem;
    }

    .hamburger {
        left: 0;
    }

    #nav .social {
        display: none;
    }
}

@media (max-width: 430px) {
    #header > .inner {
        padding: .8rem 0 4px 1rem;
    }
    .main>.inner,
    .main .main-header .inner,
    #footer .inner {
        padding: 0 1rem;
    }

    #logo {
        width: 13.3rem;
    }

    #logo a {
        width: 13rem;
    }

    .hamburger {
        margin: 0;
    }

    .stripe {
        top: 3.3rem;
    }
}

@media (max-width: 320px) {
    .hamburger {
        margin: 0;
    }
}